@tailwind base;
@tailwind components;
@tailwind utilities;


::selection {
  background: black;
  /* Background color of the selection */
  color: white;
  /* Text color of the selection */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}